accelerate==0.34.2
bitsandbytes==0.43.3
natsort==8.4.0
torch==2.3.0
torchaudio==2.3.0
torchvision==0.18.0
transformers==4.44.2

# Install the latest version
matplotlib
numpy
pandas
pillow
rich
scikit-learn
seaborn
